    <table class="table">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                {% endset %}
                {{ _('%(username)s posted %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
                <br>
                <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                </p>
                {% if post.photo_name %}
                <div>
                    <img src="../static/uploads/{{ post.photo_name }}" width="100%">
                </div>
                {% endif %}
                <p style="word-break: break-all; font-size: small;">{{ post.photo_name }}</p>
                <p style="word-break: break-all;">DESCRIPTION: {{ post.description }}</p>
                <p style="word-break: break-all;">WORLD: {{ post.world }}</p>
                <p style="word-break: break-all;">MODE: {{ post.mode }}</p>
                <p style="word-break: break-all;">MATERIALS USED: {{ post.materials }}</p>
                <p style="word-break: break-all;">TIME TO BUILD: {{ post.time_invested }}</p>
                <p style="word-break: break-all;">r/MINECRAFTBUILDS: {{ post.reddit }}</p>
                <p style="word-break: break-all;">OTHER LINKS: {{ post.link_other }}</p>
            </td>
                {% if post.language and post.language != g.locale %}    
                <br><br>
                <span id="translation{{ post.id }}">
                    <a href="javascript:translate(
                                '#post{{ post.id }}',
                                '#translation{{ post.id }}',
                                '{{ post.language }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
                {% endif %}
            </td>
        </tr>
    </table>
